@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --main-color: #bda23e;
    }
}

@layer components {
    .container {
        @apply px-4 md:px-10 flex items-center justify-between max-w-[1250px] mx-auto;
    }

    .primary-button {
        @apply uppercase tracking-wider text-xs rounded-md transition-colors duration-300 disabled:pointer-events-none disabled:opacity-50 text-white hover:bg-[#C7AE4C] bg-main-color px-4 py-2;
    }

    .secondary-button {
        @apply uppercase tracking-wider text-xs rounded-md transition-colors duration-300 disabled:pointer-events-none disabled:opacity-50 text-white bg-black hover:bg-zinc-800 px-4 py-2;
    }
}

body {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}

.title {
    /* font-family: 'Cormorant Infant', serif; */
    font-family: 'Cormorant Unicase', serif;
    line-height: 1.2;
}

.header,
.first-screen {
    background-image: url("./images/bg-03.jpg");
}

.icon-list li {
    list-style-type: none;
    background-image: url('./images/galka.svg');
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: 0 center;
    margin-bottom: 20px;
    line-height: 1.6;
    list-style-type: none;
    padding-left: 45px;
}

.gradient {
    position: relative;
    top: max(-10vw, -120px)
}

.swiper-pagination-bullet-active {
    background: var(--main-color) !important;
}

.swiper-pagination-bullet {
    width: 24px !important;
    height: 4px !important;
    border-radius: 5px !important;
}